repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.10
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: generate-erd
        name: generate-erd
        entry: ./scripts/generate_erd.sh
        language: system
        pass_filenames: false
